.pr-18 {
  padding-right: 18vw;
}

.pm-1 {
  @media screen and (max-width: 812px) {
    padding: 1vw;
  }
}
.psm-5 {
  @media screen and (max-width: 812px) {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
.psm-4 {
  @media screen and (max-width: 812px) {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}
.psm-3 {
  @media screen and (max-width: 812px) {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}
.psm-0 {
  @media screen and (max-width: 812px) {
    padding-left: 0vw;
    padding-right: 0vw;
  }
}

.ms-20 {
  margin: auto 20px;
}
